repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        exclude: ^tests/templates
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy src tests noxfile.py
        language: system
        pass_filenames: false
        types: [python]

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: poetry run pytest -m "not e2e" --cov
        language: system
        pass_filenames: false
        types: [python]
