[tool.poetry]
name = "cloud-radar"
version = "0.0.0"
description = "Run functional tests on cloudformation stacks."
readme = "README.md"
authors = ["Levi Blaney <shadycuz@gmail.com>"]
license = "Apache License 2.0"

[tool.poetry.dependencies]
python = "^3.8"
taskcat = "^0.9.20"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
coverage = {extras = ["toml"], version = "^5.3"}
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"
black = "^20.8b1"
flake8 = "^3.8.4"
flake8-black = "^0.2.1"
flake8-import-order = "^0.18.1"
flake8-bugbear = "^20.11.1"
mypy = "^0.790"
codecov = "^2.1.10"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["cloud_radar"]

[tool.coverage.report]
show_missing = true
fail_under = 95

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
