name: Tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9']
    name: Python ${{ matrix.python-version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Setup Nox
        run: pip install nox==2020.8.22

      - name: Setup Poetry
        run: pip install poetry==1.1.4

      - name: Run Tests
        run: nox
